{% extends "coachBase.html" %}
{% block title %}
The Swim Journal | Workouts
{% endblock %}

<!--Javascript used to delete a variable-->
<script type="text/javascript">
  //Define the function 'deleteExercise' which takes 'exerciseID' as a parameter
  function deleteExercise(exerciseID) {
    //Use the Fetch API to send a request to the server
    fetch("/delete-exercise", {
      method: "POST", //Specify the method as POST
      body: JSON.stringify({ exerciseID: exerciseID }),// Convert the exercise id object to a JSON string and set it as the request body
    })
    .then((_res) => { //Handle the response from the server
      window.location.href = "/coach/Workouts"; //Redirect the browser to the specified URL
    });
  }
</script>

{% block content %}
<h1>My Workouts</h1>
<div class="container" style="display: grid; grid-template-columns: 1fr 1fr;">
<div class="left", style="padding:10px">
<h3>View past workouts</h3>
<h3>Create new workout</h3>
  <form method="POST">
    <label for="name">Workout Name:</label>
      <input name="name" id="name" class="form-control">
    {% for i in range(10) %}
    <label for="ex1">Select Exercise:</label>
      <select name='{{ "ex" + loop.index|string }}' id='{{ "ex" + loop.index|string }}' class="form-control">
        {% for exercise in exercises %}
        <option value="{{ exercise.name }}">{{ exercise.name }}</option>
        {% endfor %}
      </select>
    <label for="repetitions">Repetitions:</label>
    <input name='{{ "rep" + loop.index|string }}' id='{{ "rep" + loop.index|string }}' class="form-control">
    <br />
    {% endfor %}
    <div>
      <button type="submit" class="btn btn-primary">Create workout</button>
    </div>
  </form>
</div>
<div class="right", style="padding:10px">
  <h3>Edit exercises</h3>
  <h5>Create new exercise</h5>
  To create multiple exercises simultaneously, simply follow the format below.
  <form method="POST">
    <input name="newExerciseName" id="newExerciseName" class="form-control" placeholder="exercise1, exercise2, exercise3">
    <div style="margin-top: 10px; margin-bottom: 20px">
    <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Add Exercise</button>
  </div>
  </form>
  <h5>All exercises</h5>
  <ul class="list-group list-group-flush" id="exercises">
      {% for exercise in exercises %}
      <li class="list-group-item">
        {{ exercise.name }}
      <button type="button" class="close" onClick="deleteExercise('{{ exercise.id }}')">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
</div>
</div>
{% endblock %} 