{% extends "coachBase.html" %}
{% block title %}
The Swim Journal | Workouts
{% endblock %}

{% block content %}
<h1>My Workouts</h1>  
<!--displaying the past workouts and providing a template to create new workouts-->
<div class="container" style="display: grid; grid-template-columns: 1fr 1fr;">
<div class="left", style="padding:10px">
<h3>Create new workout</h3>
  <form method="POST">
    <label for="workoutType">Choose type of workout:</label>
      <select name='workoutType' id='workoutType' class="form-control">
        <option value="land">Land training</option>
        <option value="pool">Pool training</option>
      </select>
    <label for="name">Workout Name:</label>
      <input name="name" id="name" class="form-control">

    <label for="name">Notes:</label>
      <input name="workoutNotes" id="workoutNotes" class="form-control">

    <label for="workoutExercises">Exercises</label>
      <p>For a pool session, enter the set as text.
      For a land session, have one line for one exercise and the number of repetitions.</p>
      <p>E.g. Hollow hold, 10</p>
      <textarea 
      type="textarea"
      name=workoutExercises 
      id='workoutExercises' 
      class="form-control"></textarea>

    <br/>
    <div>
      <button type="submit" class="btn btn-primary">Create workout</button>
    </div>
  </form>
</div>
<!--HTML code to edit and create new exercises-->
<div class="right", style="padding:10px">
  <h3>View past workouts</h3>
  <form method="POST">
    <label for="workoutType">Choose workout to view: </label>
      <select name='viewWorkoutID' id='viewWorkoutID' class="form-control">
        {% for workout in existingWorkouts%}
        <option value="{{workout.id}}">{{workout.name}}</option>
        {% endfor %}
      </select>
      <br/>
      <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
  
  
  <h3>Edit exercises</h3>
</div>
</div>
{% endblock %} 