{% extends "coachBase.html" %}
{% block title %}
The Swim Journal | Base Times
{% endblock %}

{% block content %}
<h1>Enter World Aquatic Base Times</h1>
<div>You can find the base times at this link: 
    <a href="https://www.worldaquatics.com/swimming/points">World Aquatics Page</a>
</div>
<form method="POST">
  <label for="gender"></label>
  <select name='gender' id='gender' class="form-control">
    <option value="">Choose event gender: </option>
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select><br>

  <label for="poolDistance"></label>
  <select name='poolDistance' id='poolDistance' class="form-control">
    <option value="">Choose pool size: </option>
    <option value="SCM">Short Course Meters</option>
    <option value="LCM">Long Course Meters</option>
  </select><br>

  <label for="stroke"></label>
  <select name='stroke' id='stroke' class="form-control">
    <option value="">Choose event stroke: </option>
    <option value="Free">Freestyle</option>
    <option value="Back">Backstroke</option>
    <option value="Breast">Breastroke</option>
    <option value="Fly">Butterfly</option>
    <option value="IM">Individual Medley</option>
  </select><br>

  <label for="distance"></label>
  <select name='distance' id='distance' class="form-control">
    <option value="">Choose event distance: </option>
    <option value="50m">50m</option>
    <option value="100m">100m</option>
    <option value="200m">200m</option>
    <option value="400m">400m</option>
    <option value="800m">800m</option>
    <option value="1500m">1500m</option>
  </select><br>
  
  <label for="timeM">Input base time:</label>
  <input name="timeM" id="timeM" type="number" min="0" max="30">:
  <label for="timeS"></label>
  <input name="timeS" id="timeS" type="number" min="0" max="60">.
  <label for="timeMS"></label>
  <input name="timeMS" id="timeMS" type="number" min="0" max="100">
<br>
<button type="submit" class="btn btn-primary">Add time</button>  
</form>
  {% endblock %}
