{% extends "coachBase.html" %}
{% block title %}
The Swim Journal | Dashboard
{% endblock %}
{% block style%}
<style>
/* CSS used to display the table of swimmers */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/*Styling for the content container*/
.container {
  display: flex;
  height: 100vh; 
}

/*Styling for the left container*/
.left {
  flex: 60%; 
  padding: 8px;
  margin-right: 8px
}

/*Styling for the right container*/
.right {
  flex: 40%; 
  padding: 16px;
  border-left: 1px solid grey
}
</style>
{% endblock %}

{% block content %}
<div class="container">
<div class="left">
<!--Displaying the codes of each squad-->
<h2><u>My Squad</u></h2>
{{if squad }}
<table>
  <tr>
    <th>Squad</th>
    <th>Code</th>
  </tr>
  <tr>
    <td>{{squad.squadName}}</td>
    <td>{{squad.id}}</td>
  </tr>
</table>
<!--Displaying the members of each squad, including both swimmers and coaches-->
<h2>My Swimmers</h2>
<table>
  <tr>
    <th>Members</th>
    <th>Squad Code</th>
    <th>Role</th>
  </tr>
  {% for member in members %}
  <tr>
    <td>{{member.forename}} {{member.surname}}</td>
    <td>{{member.squadID}}</td>
    <td>{{member.role}}</td>
  </tr>
  {% endfor %}
</table>

</div>
<div class="right">
<!--Creating a new squad-->
    <h3><u>Create a Squad</u></h3>
    <form method="POST">
        <label for="squadName">Squad Name:</label>
        <input type="text" id="squadName" name="squadName" required><br><br>
        <!--Submit button-->
        <input type="submit" value="Create Squad">
    </form>

</div>
</div>

{% endblock %} 
