{% extends "coachBase.html" %}
{% block title %}
The Swim Journal | Workouts
{% endblock %}

{% block content %}
<h1>My Workouts</h1>  
<!--displaying the past workouts and providing a template to create new workouts-->
<div class="container" style="display: grid; grid-template-columns: 1fr 1fr;">
<div class="left", style="padding:10px">
<h3>Create new workout</h3>
  <form method="POST">
    <label for="workoutType">Choose type of workout:</label>
      <select name='workoutType' id='workoutType' class="form-control">
        <option value="land">Land training</option>
        <option value="pool">Pool training</option>
      </select>
    <label for="name">Workout Name:</label>
      <input name="name" id="name" class="form-control">

    <label for="name">Notes:</label>
      <input name="workoutNotes" id="workoutNotes" class="form-control">

    <label for="workoutExercises">Exercises</label>
      For a pool session, enter the set as text.
      For a land session, have one line for one exercise and the number of repetitions. 
      E.g. Hollow hold, 10
      <textarea 
      type="textarea"
      name=workoutExercises 
      id='workoutExercises' 
      class="form-control"></textarea>

    <br/>
    <div>
      <button type="submit" class="btn btn-primary">Create workout</button>
    </div>
  </form>
</div>
<!--HTML code to edit and create new exercises-->
<div class="right", style="padding:10px">
  <h3>View past workouts</h3>
  <h3>Edit exercises</h3>
  <h5>Create new exercise</h5>
  To create multiple exercises simultaneously, simply follow the format below.
  <form method="POST">
    <input name="newExerciseName" id="newExerciseName" class="form-control" placeholder="exercise1, exercise2, exercise3">
    <div style="margin-top: 10px; margin-bottom: 20px">
    <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Add Exercise</button>
  </div>
  </form>
  <h5>All exercises</h5>
  <!--Displaying all the current exercises within the database-->
  <ul class="list-group list-group-flush" id="exercises">
      {% for exercise in exercises %}
      <li class="list-group-item">
        {{ exercise.name }}
      <!--Button that allows the deletion of exercises-->
      <button type="button" class="close" onClick="deleteExercise('{{ exercise.id }}')">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
</div>
</div>
{% endblock %} 