{% extends "coachBase.html" %}
{% block title %}
The Swim Journal | Dashboard
{% endblock %}
{% block style%}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}

{% block content %}
<h1>My Swimmers</h1>
<div class="container" >
    <h2>Create a Squad</h2>
    <form method="POST">
        <label for="squadName">Squad Name:</label>
        <input type="text" id="squadName" name="squadName" required><br><br>

        <input type="submit" value="Create Squad">
    </form>

<h2>My Squad</h2>
<table>
  <tr>
    <th>Squad</th>
    <th>Code</th>
  </tr>
  <tr>
    <td>{{squad.squadName}}</td>
    <td>{{squad.id}}</td>
  </tr>
</table>

<h2>My Swimmers</h2>
<table>
  <tr>
    <th>Members</th>
    <th>Squad Code</th>
    <th>Role</th>
  </tr>
  {% for member in members %}
  <tr>
    <td>{{member.forename}} {{member.surname}}</td>
    <td>{{member.squadID}}</td>
    <td>{{member.role}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %} 
