<!--CORRECTED-->

{% extends "authBase.html" %}
{% block title %}
The Swim Journal | Login
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px; margin-left:0px">
<form method="POST">
    <h3>Login</h3>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Enter Password"
      />
      <br />
      <div>
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </div>
  </form>
  <a href="/enterEmail">Forgot Password?</a>
</div>
{% endblock %}
