{% extends "swimmerBase.html" %}
{% block title %}
The Swim Journal | Previous Sessions
{% endblock %}

{% block style%}
<style>
    /* CSS used to display the table of swimmers */
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
{% endblock %}

{% block content %}
<h1>Progression</h1>
<h1></h1>
<h2>Display progression:</h2>
<form method="POST">
    <label for="tableType"></label>
    <select name="tableType" id="tableType" class="form-control">
        <option value="">Choose a progression to view: </option>
        <option value="eventHistory">Event History</option>
        <option value="bestTimes">Best Times</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Choose progression</button>
</form>

{% if progressionType == "bestTimes" %}
<br>
<table>
    <tr>
        <th>Event</th>
        <th>Time swam in seconds</th>
        <th>Competition</th>
        <th>Date</th>
    </tr>
    {% for event in eventNames%}
    <tr>
        <td>{{event}}</td>
        <td>{{ eventTimes[loop.index0] }}</td>
        <td>{{ eventComp[loop.index0] }}</td>
        <td>{{ eventDate[loop.index0] }}</td>
    </tr>
    {% endfor %}
</table>
{% elif progressionType == "eventHistory" %}
<form method="POST">
    <label for="chosenEvent"></label>
    <select name="chosenEvent" id="chosenEvent" class="form-control">
        <option value="">Choose a event to view: </option>
        {% for event in allEvents %}
        <option value="{{event.id}}">{{event.distance}} {{event.stroke}} {{event.poolDistance}}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Choose event</button>
</form>
{% endif %}
{% if chosenEventInstance != None %}
{% if timesSwam|length == 0 %}
<div>This event has not been swam before.</div>
{% else %}
<h5>{{chosenEventInstance.distance}} {{chosenEventInstance.stroke}} {{chosenEventInstance.poolDistance}}</h5>
<table>
    <tr>
        <th>Time swam in seconds</th>
        <th>Competition</th>
        <th>Date</th>
    </tr>
    {% for time in timesSwam%}
    <tr>
        <td>{{ time }}</td>
        <td>{{ timeComp[loop.index0] }}</td>
        <td>{{ timeDate[loop.index0] }}</td>
    </tr>
    {% endfor %}
</table>
<canvas id="lineChart" width="900" height="400"></canvas>
<script>
    var ctx = document.getElementById("lineChart").getContext("2d");
    var lineChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: {{ labels | safe}},
            datasets: [
            {
                label: "Data points",
                data: {{values | safe}},
                fill: false,
                borderColor: "rgb(75,192,192)",
                lineTension: 0.1
            }]
        },
        options:{
            responsive:false
        }
    })
</script>
{% endif %}
{% endif %}
{% endblock %}