{% extends "swimmerBase.html" %}
{% block title %}
The Swim Journal | Dashboard
{% endblock %}

{% block content %}
<h1>Session</h1>
<div class="container" style="border: 1px solid #ccc; margin:0px; margin-bottom:20px; height: relative; border-radius: 15px; width:relative; position: relative">
    
<!-- </div>
<div class="container", style="border: 1px solid #ccc; margin:0px; height: 200px;border-radius: 15px; width:850px; position: relative"">
  <h2>Post-session Thoughts</h2>
  <form method="POST">
    <textarea name="entry" id="entry" class="form-control"></textarea>
    <br />
    <div>
      <button type="submit" class="btn btn-primary">Add Entry</button>
    </div>
  </form>
</div> -->
{% endblock %}

