{% extends "swimmerBase.html" %}
{% block title %}
The Swim Journal | Goals
{% endblock %}

{% block content %}
<h1>Goals</h1>
<form method="POST">
  <div class="form-group">
      <label for="seasonGoal">Season Goal</label>
      <textarea
      type="textarea" 
      name="seasonGoal" 
      id="seasonGoal" 
      class="form-control">{{user.seasonGoal}}</textarea>
  </div>
  <div class="form-group">
      <label for="yearGoal">Goals for {{year}}</label>
      <textarea
      type="textarea"
      name="yearGoal"
      id="yearGoal" 
      class="form-control">{{user.yearlyGoal}}</textarea>
  </div>
  <div class="form-group">
    <label for="longtermGoal">Goals for the future</label>
    <textarea
    type="textarea" 
    name="longtermGoal" 
    id="longtermGoal" 
    class="form-control">{{user.longtermGoal}}</textarea>
  </div>
<button type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}
