{% extends "swimmerBase.html" %}
{% block title %}
The Swim Journal | Goals
{% endblock %}
{% block sidenav %}
<!--This is used in the delete function-->
<script type="text/javascript">
  function deleteGoal(goalID) {
fetch("/delete-goal", {
method: "POST",
body: JSON.stringify({ goalID: goalID }),
}).then((_res) => {
window.location.href = "/swimmerGoals";
});
}
</script>
    <!--This is the side navbar-->
    <nav style="font-family: Times New Roman; position: absolute;top:83px;bottom: 0;height: 100%;left: 0;background:#E4FCFF;width: 140px;overflow: hidden;transition: width 0.2s linear;padding: 10px;text-align: left;">
      <a style="position: relative; color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 15px; top: 10px" href="/swimmer/Session">
        <span class=""nav-tiem">Today's Session</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/swimmer/Journal">
        <span class=""nav-tiem">Journal</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/swimmer/Goals">
        <span class=""nav-tiem">Goals</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/swimmer/PBs">
        <span class=""nav-tiem">Personal Bests</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/swimmer/Settings">
        <span class=""nav-tiem">Account Settings</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/logout">
        <span class=""nav-tiem">Logout</span>
      </a>
</nav>
{% endblock %}

{% block content %}
<h1>Goals</h1>
<ul class="list-group list-group-flush" id="goals">
    {% for goal in user.goals %}
    <li class="list-group-item">
      {{goal.goaltype}}'s goal: {{ goal.data }}
      <button type="button" class="close" onClick="deleteGoal('{{goal.id}}')">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>   
  <form method="POST">
    <label for="goaltype">Select Goal Type:</label>
    <select name="goaltype" id="goaltype" class="form-control">
      <option value="Today">Today</option>
      <option value="Season">Season</option>
      <option value="Year">Year</option>
    </select>
    <textarea name="goal" id="goal" class="form-control"></textarea>
    <br />
    <div>
      <button type="submit" class="btn btn-primary">Add Goal</button>
    </div>
  </form>

  {% endblock %}
