<!--CORRECTED-->

{% extends "swimmerBase.html" %}
{% block title %}
The Swim Journal | Dashboard
{% endblock %}
{% block sidenav %}
    <!--This is the side navbar-->
    <nav style="font-family: Times New Roman; position: absolute;top:83px;bottom: 0;height: 100%;left: 0;background:#E4FCFF;width: 130px;overflow: hidden;transition: width 0.2s linear;padding: 10px;text-align: left;">
      <a style="position: relative; color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 15px; top: 10px" href="/swimmerSession">
        <span class=""nav-tiem">Today's Session</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/swimmer/Journal">
        <span class=""nav-tiem">Journal</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/swimmer/Goals">
        <span class=""nav-tiem">Goals</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/swimmer/PBs">
        <span class=""nav-tiem">Personal Bests</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/swimmer/Settings">
        <span class=""nav-tiem">Account Settings</span>
      </a>
      <a style="position: relative;color: rgb(85, 83, 83);font-size: 18px;display: table;width: 300px; margin-bottom: 5px;" href="/logout">
        <span class=""nav-tiem">Logout</span>
      </a>
</nav>
{% endblock %}

{% block content %}
<h1>Welcome, {{name}}!</h1>
<div class="container", style="border: 1px solid #ccc; margin:0px; margin-bottom:20px; height: 200px; border-radius: 15px; width:850px; position: relative">
</div>
<div class="container", style="border: 1px solid #ccc; margin:0px; height: 200px;border-radius: 15px; width:850px; position: relative"">
    </div>
{% endblock %}

